<% include ../partials/header %>
<div class="container">
    <h1>Products</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID </th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% product.forEach(function(pro){ %>
            <tr>

                <td><%= pro.ProductID %></td>
                <td><%= pro.ProductName%></td>
                <td scope="row">
                    <a name="" id="" class="btn btn-primary"href="/productId/<%= pro.ProductID %>" role="button">View Detail</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>

</div>

<% include ../partials/footer %>